.badges_container{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	text-align: center;
}

.badge{

	background-color: white;
	border-color:#e5e5e5;
	border-radius: 1rem;
	box-shadow: inset -2px -3px 3px #e5e5e5;
	padding: 1rem;
	min-width: 10em;
}

.badge h3{
	margin-top: 0;
}

.badge i{
	color: #0F2C67;
}

.badge span{
	font-size: 0.5rem;
}