@import url('https://fonts.cdnfonts.com/css/a-akhir-tahun');
.main_bg{
	background-image: url('../../../public/assets/images/second_bg.png');
	background-position: baseline;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100vh;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.badges_container{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	position: relative;
	text-align: center;
	top: 5rem;
}

.badge{

	background-color: white;
	border-color:#e5e5e5;
	border-radius: 1rem;
	box-shadow: inset -2px -3px 3px #e5e5e5;
	padding: 1rem;
	min-width: 10em;
}

.badge h3{
	margin-top: 0;
}

.badge i{
	color: #0F2C67;
}

.badge span{
	font-size: 0.5rem;
}

h5{
	font-family: 'a Akhir Tahun';
}