/* colors

#0F2C67
#CD1818
#F3950D
#F4E185 */

boy{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

h2,h3,h4,span{
  color: #0F2C67;
}

h6{
  color: #F3950D
}

nav{
  border-radius: 0rem 0rem 1rem 1rem;
}

.main-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.border-box{
  border: 1px solid #e5e5e5;
  box-shadow: inset -2px -3px 3px #e5e5e5;
  border-radius: 2rem;
  padding: 1rem;
  width: 55vmax;
  text-align: center;
}


.input_group {
  position: relative;
 }
 
 input {
  background: none;
  border-radius: 1rem;
  border: solid 1.5px #9e9e9e;
  color: black;
  font-size: 1rem;
  padding: 1rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1) 0s;
  width: 12.5rem !important;
 }
 
 .user_label {
  position: absolute;
  left: 0px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1) 0s;
 }
 
 label{
   font-size: 11px;
   color: #e5e5e5;
 }
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid black;
 }
 
 .input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: black;
 }


 .button_group{
  background: black;
  border-radius: 2rem;
  border: 1px solid #e5e5e5;
  color: white;
  font-size: 1rem;
  margin: 2rem;
  padding: 1rem;
  text-decoration: none;
  width: 10rem;
 }

 .button_group:focus-within{
   background: white;
   border: 1px solid black;
   color: black;
 }

nav{
  margin-bottom: 2rem;
  position: relative;
  top: 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
  color: #c62828;
}
input[type="number"]:not(.browser-default):focus:not([readonly]) + label{
  color: #c62828;
}
input[type="date"]:not(.browser-default):focus:not([readonly]) + label{
  color: #c62828;
}

table{
  width: 75vw;
}

.blue_background{
  background-color: #0F2C67;
}

/* WEB */

/* @media only screen and (min-width: 500px)  {

  .main-box{
    flex-direction: column;
  }
} */
